Q1. Ans.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2.Ans

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3.Ans

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['female', 'male', 'female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4.Ans

In [12]:
''' a DataFrame is a two-dimensional labeled data structure that can hold data of different types 
(e.g., numeric, string, boolean) in columns. It is similar to a table or a spreadsheet in which
each column represents a variable, and each row represents an observation or a record.

A DataFrame can be thought of as a collection of Pandas Series objects, where each Series represents 
a column of the DataFrame. While a Series is a one-dimensional labeled array that can hold data of a single type, 
a DataFrame provides a tabular structure that allows for easy manipulation and analysis of data.'''

import pandas as pd
data = {
    'Name': ['Ram', 'Shyam', 'Kisan'],
    'Age': [25, 30, 27],
    'Gender': ['male', 'male', 'male']
}

# Create a DataFrame
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
# creating series
print("Series - Name:")
print(name_series)

DataFrame:
    Name  Age Gender
0    Ram   25   male
1  Shyam   30   male
2  Kisan   27   male
Series - Name:
0      Ram
1    Shyam
2    Kisan
Name: Name, dtype: object

Q5.Ans

In [13]:
#some common functions for use to manipulate data in a DataFrame?
1.head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame.
  They are useful for quickly inspecting the data.
2.info(): This function provides a summary of the DataFrame, including the number of rows, number of columns, column names, and data types.
  It is helpful for getting an overview of the DataFrame's structure.
3.describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles.
  It provides insights into the distribution and central tendencies of the data.
4.shape: This attribute returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns.
  It is useful for checking the size of the DataFrame.
5.drop(): This function is used to remove rows or columns from a DataFrame. 
  It is helpful for eliminating unnecessary data or handling missing values.
6.groupby(): This function is used for grouping data based on one or more columns in a DataFrame.
  It allows performing operations on groups of data, such as calculating aggregates or applying functions.
7.sort_values(): This function is used to sort the DataFrame based on one or more columns.
  It allows arranging the data in ascending or descending order, facilitating data exploration and analysis.
8.apply(): This function is used to apply a function to each element or column of a DataFrame.
  It is useful for performing custom operations on the data.



import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['female', 'male', 'female']
}
df = pd.DataFrame(data)

# Use head() to view the first few rows
print(df.head())

# Use describe() to get descriptive statistics
print(df.describe())

# Use groupby() to calculate the average age by gender
average_age = df.groupby('Gender')['Age'].mean()
print(average_age)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000
Gender
female    26.0
male      30.0
Name: Age, dtype: float64

Q6.Ans

In [ ]:
The Series and DataFrame objects in Pandas are mutable in nature, meaning that their values can be modified after 
creation. However,the Panel object, which is a 3-dimensional data structure in Pandas, is not mutable.
Once a Panel is created, its values cannot be changed directly.

Q7. Ans

In [15]:
import pandas as pd

# Create a Series for each column
name = pd.Series(['Adarsh', 'Ravi', 'Ritik'])
age = pd.Series([21, 18, 17])
gender = pd.Series(['male', 'male', 'male'])

# Create a dictionary of Series
data = {
    'Name': name,
    'Age': age,
    'Gender': gender
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print("DataFrame:-")
print(df)

DataFrame:-
     Name  Age Gender
0  Adarsh   21   male
1    Ravi   18   male
2   Ritik   17   male